<header role="banner">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li ng-class="{ active: isActive('/home') || isActive('/') }"><a ng-href="#/home">Home</a></li>
            <li ng-class="{ active: isActive('/test')}"><a ng-href="#/test">Test</a></li>
            <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
            <li ng-class="{ active: isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">AngularJS_directives</h3>
    </div>
</header>

        <he